

.friendRequest__background {
	display: flex;
	margin-left: 16px;
}

.friendRequest__image {
	width: 84px;
	height: 84px;
	font-size: 10px;
	text-align: center;
	filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.16));
	border-radius: 20px;
}

.friendRequest__button-container {
	position: absolute;
	right: 20px;
}

.friendRequest__button-container button {
	width: 40px;
	height: 40px;
	border-style: none;
	border-radius: 12px;
}

.friendRequest__button-cancel {
	background: rgba(206, 0, 0, 0.1);
}

.friendRequest__button-accept {
	margin-left: 14px;
	background: rgba(0, 160, 6, 0.1);
}
