@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
	background-color: #eaf2ff;
	font-family: 'Poppins', sans-serif;
}

.App {
	display: flex;
	flex-wrap: wrap;
}

.App__title {
	text-align: center;
}

h4,
p {
	margin: 0;
}

h4 {
	font-size: 15px;
	margin-bottom: 8px;
}

p {
	font-size: 12px;
	line-height: 14px;
	mix-blend-mode: normal;
	opacity: 0.6;
}
